<section id="cart-section">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-body border border-0 mb-3" >
          <h4 class="text-secondary-emphasis mb-3">Your Cart</h4>
          
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body border border-0 mb-3" >
          <h6 class="text-secondary-emphasis mb-3">Cart Summary</h6>
          <div class="card card-body border border-0 mb-3 cart">
              <div class="row">
                <div class="col-3">
                  <img src="../../assets/blueberry-cheesecake.jpg" class="cart-img">
                </div>
                <div class="col-7">
                  <h6 class="text-secondary-emphasis">Blueberry Cheesecake</h6>
                  <p class="text-primary">&#x20B1; 250</p>
                </div>
                <div class="col-2">
                  
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
</section>