<section class="p-5">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center mb-4">  
          <img [src]="cake?.photo" alt="Photo of {{ cake?.photo }}" style="width:70%; height:70%">
          </div>
        </div>
      <div class="col-md-6">
        <div class="d-flex flex-column flex-nowrap justify-content-evenly">  
          <h3 class="text-secondary-emphasis mt-3">{{ cake?.name }}</h3>
          <h5 class="text-secondary-emphasis mt-2">{{ cake?.description }}</h5>
          <p class="lead text-primary mt-2 mb-4"><strong>&#x20B1;{{ cake?.price }}</strong></p>

          <form [formGroup]="addForm" (submit)="addToCart()">
            <div class="form-group mb-4">
              <input id="name" value="cake?.name" hidden>
              <input id="price" value="cake?.price" hidden>
              <h6 class="text-secondary-emphasis">Quantity</h6>
              <input class="text-center text-secondary-emphasis form-control form-control-lg" type="number" value="1" id="quantity" style="width:72px">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
</section>