<div class="card card-body border border-0 mb-3 cart">
    <div class="row">
      <div class="col-3">
        <img src="../../assets/blueberry-cheesecake.jpg" class="cart-img">
      </div>
      <div class="col-9">
        <h4 class="text-secondary-emphasis" id="item-name">Blueberry Cheesecake</h4>
        <h5 class="text-primary" id="item-price">&#x20B1; 250</h5>

        <div class="input-group mb-3" id="item-quantity">
          <button class="btn btn-primary" type="button" id="button-addon2">-</button>
          <input class="text-center text-secondary-emphasis form-control" type="number" value="1" id="quantity" style="background-color:#fbf6ee">
          <button class="btn btn-primary" type="button" id="button-addon2">+</button>
        </div>
      </div>
    </div>
</div>